@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

//全局樣式
.dashboard {
  &-container {
    margin: 30px;
  }
  &-category {
    display:flex;
    font-size:14px;
    justify-content: space-between;
    &-item {
      align-self: center;
    }
    &-item-icon {
      padding-right: 10px;
    }
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
  &-uploadfont {
    line-height:4px;
    color: #8c939d;
  }
  &-studyfont {
    font-size: 13px;
    margin-left: 5px;
  }
  &-studynote {
    font-size: 13px;
    margin-left: 5px;
    color:#f40;
  }
  &-avatar-img {
    width: 150px;
    height: 150px;
  }
  &-avatar-horizontal-img {
    width: 150px;
    height: 150px;
  }
  &-avatar-vertical-img {
    width: 150px;
    height: 150px;
  }
  &-avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
  }
  &-avatar-uploader-horizontal-icon {
    font-size: 28px;
    color: #8c939d;
    width: 180px;
    height: 150px;
    line-height: 150px;
    text-align: center;
  }
  &-avataruploader {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
  }
  &-horizontal-avatar {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 180px;
    height: 150px;
  }
  &-vertical-avatar {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 180px;
  }
  &-coverpicture {
    flex: 1;
    display: flex;
    align-items: center;
   }
  &-cover_picture_label {
    display: block; 
    text-align: center;
    font-size: 14px;
    color: #606266
  }
  &-uploadfont {
    font-size: 14px;
    color: #8c939d;
  }
  &-cover_picture_right_box {
    margin-left: 10px;
  }
  &-cover_picture_button {
    margin-top: 40px;
    margin-bottom: 10px;
  }
}